<!DOCTYPE html>
<html {{site.language_attributes}}>

  <!-- head of document -->
  <head>
    
    <!-- usual meta -->
    <meta charset="{{site.charset}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- /usual meta -->
    
    <!-- wp head -->
    {{ function('wp_head') }}
    <!-- /wp head -->
    
    <!-- custom fonts & styles -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link type='text/css' rel="stylesheet" href="{{direct_to_checkout_url}}public/css/direct-checkout.css" media='all' />
    <!-- /custom fonts & styles -->
    
    <style>
      
      /* number type inputs */
      .quantity input[type=number]::-webkit-inner-spin-button,
      .quantity input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      .quantity input[type=number] {
        -moz-appearance: textfield;
      }
      
      /* the input itself */
      .quantity input {
        width: 45px;
        height: 30px;
        line-height: 1.65;
        float: left;
        display: block;
        padding: 0;
        margin: 0;
        padding: 0px 20px 0 20px;
        text-align: center;
        border: 1px solid #eee;
      }
      
      /* input focus */
      .quantity input:focus {
        outline: 0;
      }
      
      /* the nav itself */
      .quantity-nav {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
      }
      
      /* button/s */
      .quantity-button {
        display: flex;
        height: 100%;
        position: relative;
        cursor: pointer;
        width: 20px;
        text-align: center;
        color: #333;
        font-size: 13px;
        font-family: "Trebuchet MS", Helvetica, sans-serif !important;
        line-height: 1.7;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
      }
      .quantity-button.quantity-up {
        position: absolute;
        right: 0;
        border-left: 1px solid #eee;
      }
      .quantity-button.quantity-down {
        position: absolute;
        left: 0;
        border-right: 1px solid #eee;
      }
    </style>
    
  </head>
  <!-- /head of document -->

  <!-- the body of the document with body classes -->
  <body class="{{body_class|e('esc_html')}}" data-template="direct-to-checkout.twig">
    
    <!-- main with post content -->
    <main role="main" id="MainContent">
      <!-- <div class="new-quantity">
        <input type="number" min="1" max="9" step="1" value="1">
      </div> -->
      {{post.content}}
    </main>
    <!-- /main -->
    
    <!-- the wp footer, before the ending body tag -->
    {{ function('wp_footer') }}
    <!-- /wp footer -->
    
  </body>
  <!-- /body of document -->

</html>