<!DOCTYPE html>
<html {{site.language_attributes}}>

  <!-- head of document -->
  <head>
    
    <!-- usual meta -->
    <meta charset="{{site.charset}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- /usual meta -->
    
    <!-- wp head -->
    {{ function('wp_head') }}
    <!-- /wp head -->
    
  </head>
  <!-- /head of document -->

  <!-- the body of the document with body classes -->
  <body class="{{body_class|e('esc_html')}}" data-template="direct-to-checkout.twig">
    
    <!-- main with post content -->
    <main role="main" id="MainContent">
      <!-- <div class="new-quantity">
        <input type="number" min="1" max="9" step="1" value="1">
      </div> -->
      {{post.content}}
    </main>
    <!-- /main -->
    
    <!-- the wp footer, before the ending body tag -->
    {{ function('wp_footer') }}
    <!-- /wp footer -->
    
  </body>
  <!-- /body of document -->

</html>