{# translation-ready, escaped, formatted, semantic #}
<div class="checkout-wrap" data-template="form-checkout.twig">
  <div class="uk-section uk-section-small uk-container uk-container-small">
    <form name="checkout" method="post" class="checkout woocommerce-checkout" action="{{checkout_url|e('esc_url')}}" enctype="multipart/form-data">
      <div class="form-wrap">

        {# we need this hidden form inside a div to make nested forms work #}
        <div hidden>
          <!-- https://www.youtube.com/watch?v=lDetXuXJz_0 -->
          <form></form>
        </div>
        
        <div class="uk-flex" uk-grid>
          
          {# the review order form. on the right side. contains coupon/login stuff. payments moved #}
          <div class="uk-width-1-2@m half-minus right">
            <div id="orderPanel" class="customer-order-review uk-panel uk-panel-scrollable panel-target uk-position-relative panel-collapsed">
              
              {% do action('woocommerce_checkout_before_order_review_heading') %}
        			
        			<h3 id="order_review_heading">{{ _x('Your order', 'Checkout', 'direct-to-checkout')|e('esc_html') }}</h3>
              
              <div class="uk-position-top-right uk-hidden@m order-collapse">
                <a class="panel-target panel-collapsed uk-link-reset" uk-toggle="target: .panel-target; cls: panel-collapsed"></a>
              </div>
              
              {% if not checkout.is_registration_enabled() and checkout.is_registration_required() and not fn('is_user_logged_in') %}
                <div class="uk-margin-bottom">
                  {% filter apply_filters( 'woocommerce_checkout_must_be_logged_in_message') %}
                    {{ _x('You must be logged in to checkout.', 'Checkout', 'direct-to-checkout')|e('esc_html') }}
                  {% endfilter %}
                </div>
              {% endif %}
              
              {% do action('woocommerce_before_checkout_form', checkout) %}
        			
              {% do action('woocommerce_checkout_before_order_review') %}

        			<div id="order_review" class="woocommerce-checkout-review-order uk-margin-top">
                {% do action('woocommerce_checkout_order_review') %}
        			</div>

              {% do action('woocommerce_checkout_after_order_review') %}

        		</div>
          </div>
          
          {# the billing/shipping/payment walk thru area. shipping fields are currently disabled #}
          <div class="uk-width-1-2@m uk-flex-first@m half-plus left">
            <header class="checkout-header checkout-info">
              <ul class="uk-subnav uk-subnav-pill checkout-nav" uk-switcher="connect: #Switch">
                <li class="trigger"><a href="#">{{ _x('Billing', 'Checkout', 'direct-to-checkout')|e('esc_html') }}</a></li>
                <li class="trigger proceed-to-payment"><a href="#">{{ _x('Payment', 'Checkout', 'direct-to-checkout')|e('esc_html') }}</a></li>
              </ul>
              <h2>{{site.title|e('esc_html')}}</h2>
              {% if user %}
                <h4 class="uk-margin-small-top">{{ _x('Information', 'Checkout', 'direct-to-checkout')|e('esc_html') }}</h4>
                <p>{{ _x('Welcome back', 'Checkout', 'direct-to-checkout')|e('esc_html') }}, <a href="{{dashboard_endpoint|e('esc_url')}}" target="_blank">{{user.name|e('esc_html')}}</a>.</p>
              {% endif %}
            </header>
            {% if checkout_fields %}
              <div class="customer-billing-shipping">
                <ul id="Switch" class="uk-switcher uk-margin">
                  <li class="checkout-content checkout-billing">
                    {% do action('woocommerce_checkout_before_customer_details', checkout) %}
                      <div id="customer_details">
                        <div class="billing">
                          {% do action('woocommerce_checkout_billing') %}
                          <div class="uk-margin-top">
                            <a id="backBrowser" class="go-back uk-button uk-button-default uk-button-small" href="{{back_link|e('esc_url')}}">{{ _x('Go back', 'Checkout', 'direct-to-checkout')|e('esc_html') }}</a>
                            <a id="proceedPayment" class="proceed-to-payment uk-button uk-button-primary uk-button-small" uk-switcher-item="next">{{ _x('Proceed to payment', 'Checkout', 'direct-to-checkout')|e('esc_html') }}</a>
                          </div>
              					</div>
              					<div class="shipping">
                          {% do action('woocommerce_checkout_shipping') %}
              					</div>
              				</div>
                    {% do action('woocommerce_checkout_after_customer_details') %}
                  </li>
                  <li class="checkout-content checkout-pay">
                    {# custom markup in used for payments. woocommerce_checkout_payment has been removed from woocommerce_checkout_order_review #}
                    <div class="payments">
                      
                      {% if not fn('is_ajax') %}
                        {% do action('woocommerce_review_order_before_payment') %}
                      {% endif %}
                      
                      <div id="payment" class="">
                          
                        {% if cart_needs_payment %}
                        
                          <ul class="wc_payment_methods payment_methods methods">
                            
                            {% if available_gateways %}
                              {% for gateway in available_gateways %}
                                {{ fn( 'wc_get_template', 'checkout/payment-method.php', {'gateway': gateway} ) }}
                              {% endfor %}
                            {% else %}
                              <li class="woocommerce-notice woocommerce-notice--info woocommerce-info">
                                {% filter apply_filters( 'woocommerce_no_available_payment_methods_message' ) %}
                                  {% if customer.get_billing_country() %}
                                    {{ _x('Sorry, it seems that there are no available payment methods for your state. Please contact us if you require assistance or wish to make alternate arrangements.', 'Checkout', 'direct-to-checkout')|e('esc_html') }}
                                  {% else %}
                                    {{ _x('Please fill in your details above to see available payment methods.', 'Checkout', 'direct-to-checkout')|e('esc_html') }}
                                  {% endif %}
                                {% endfilter %}
                              </li>
                            {% endif %}
                          </ul>
                        
                        {% endif %}
                        
                        <div class="form-row place-order">
                          
                          <noscript>
                            {{ _x('Since your browser does not support JavaScript, or it is disabled, please ensure you click the %1$sUpdate Totals%2$s button before placing your order. You may be charged more than the amount stated above if you fail to do so.', 'Checkout', 'direct-to-checkout')|format('<em>', '</em>')|e('esc_html') }}
                            <br/>
                            <button type="submit" class="button alt" name="woocommerce_checkout_update_totals" value="{{ _x('Update totals', 'Checkout', 'direct-to-checkout')|e('esc_html') }}">{{ _x('Update totals', 'Checkout', 'direct-to-checkout')|e('esc_html') }}</button>
                          </noscript>

                          {{ fn('wc_get_template', 'checkout/terms.php') }}

                          {% do action('woocommerce_review_order_before_submit') %}
                          
                          <a id="backBilling" href="#" class="uk-button uk-button-default uk-button-small" uk-switcher-item="previous">{{ _x('Back to billing', 'Checkout', 'direct-to-checkout')|e('esc_html') }}</a>
                          
                          {% filter apply_filters('woocommerce_order_button_html') %}
                            <button type="submit" class="button uk-button uk-button-small uk-button-primary alt" name="woocommerce_checkout_place_order" id="place_order" value="{{ _x('Place order', 'Checkout', 'direct-to-checkout')|e('esc_html') }}" data-value="{{ _x('Place order', 'Checkout', 'direct-to-checkout')|e('esc_html') }}">
                              {{ _x('Place order', 'Checkout', 'direct-to-checkout')|e('esc_html') }}
                            </button>
                          {% endfilter %}

                          {% do action('woocommerce_review_order_after_submit') %}

                          {{ fn('wp_nonce_field', 'woocommerce-process_checkout', 'woocommerce-process-checkout-nonce') }}
                          
                        </div>
                        
                      </div>

                      {% if not fn('is_ajax') %}
                        {% do action('woocommerce_review_order_after_payment') %}
                      {% endif %}
                      
            				</div>
                  </li>
                </ul>
        			</div>
            {% endif %}
            <footer class="checkout-footer checkout-copyright">
              <div class="uk-text-center uk-margin-medium-top uk-text-small">{% include 'footer-copyright.twig' %}</div>
            </footer>
          </div>
          
        </div>
        
      </div>
    </form>
  </div>
</div>