{% extends 'page.twig' %}

{% block contentwrap %}
  <section class="id-{{post.id}} content-wrap uk-section uk-section-small" data-template="hello.twig">
    <div class="uk-container uk-container-small">
      Hello, this is a custom page template via our plugin.<br>
      This is a theme global twig variable: {{dashboard_endpoint}}<br>
      This is the site name {{site.name}}<br>
      This is the post title {{post.title}}<br>
      This is some plugin data {{some_plugin_data}}<br>
    </div>
  </section>
{% endblock %}